{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!-- //banner -->
	<!-- top Products -->
	<div class="ads-grid_shop">
		<div class="shop_inner_inf">
			<!-- tittle heading -->

			<!-- //tittle heading -->
			<!-- product left -->
			<div class="side-bar col-md-3">
				<div class="search-hotel">
					<h3 class="agileits-sear-head">Search Here..</h3>
					<form action="{% url 'home:search' %}" method="GET">
						<input type="search" placeholder="Product name..." name="Search" required="">
						<input type="submit" value=" ">
					</form>
				</div>
				<!--preference -->
				<div class="left-side">
					<h3 class="agileits-sear-head">Occasion</h3>
					<ul>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">Casuals</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">Party</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">Wedding</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">Ethnic</span>
						</li>
					</ul>
				</div>
				<!-- // preference -->
				<!-- discounts -->
				<div class="left-side">
					<h3 class="agileits-sear-head">Discount</h3>
					<ul>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">5% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">10% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">20% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">30% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">50% or More</span>
						</li>
						<li>
							<input type="checkbox" class="checked">
							<span class="span">60% or More</span>
						</li>
					</ul>
				</div>
				<!-- //discounts -->
				<!-- reviews -->
				<div class="customer-rev left-side">
					<h3 class="agileits-sear-head">Customer Review</h3>
					<ul>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<span>5.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>4.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>3.5</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>3.0</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star" aria-hidden="true"></i>
								<i class="fa fa-star-half-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<i class="fa fa-star-o" aria-hidden="true"></i>
								<span>2.5</span>
							</a>
						</li>
					</ul>
				</div>
				<!-- //reviews -->
				<!-- deals -->
				<div class="deal-leftmk left-side">
					<h3 class="agileits-sear-head">Special Deals</h3>
					{% for offer in special_offer %}
					<div class="special-sec1">
						<div class="col-xs-4 img-deals">
							<img src="{{offer.image.url}}" alt="">
						</div>
						<div class="col-xs-8 img-deal1">
							<h3>{{offer.title}}</h3>
							<a href="{{offer.get_item_url}}">Rs.{{offer.discounted_price}} </a>
							<p>Save Rs.{{offer.specials_offers}}</p>
						</div>
						<div class="clearfix"></div>
					</div>
					{% endfor %}

				</div>
				<!-- //deals -->

			</div>
			<!-- //product left -->
			<!-- product right -->
			<div class="left-ads-display col-md-9">
				<div class="wrapper_top_shop">
					{% for c_banner in c_banners %}
					<div class="col-md-6 shop_left">
						<img src="{{c_banner.image.url}}" alt="">
						<h6>{{c_banner.discount}}</h6>
					</div>
					{% endfor %}

					<div class="clearfix"></div>
					<!-- product-sec1 -->
					<div class="product-sec1">
						<!--/mens-->
						{% for search in search_result %}
						<div class="col-md-4 product-men">
							<div class="product-shoe-info shoe">
								<div class="men-pro-item">
									<div class="men-thumb-item">
										<img src="{{search.image.url}}" alt="">
										<div class="men-cart-pro">
											<div class="inner-men-cart-pro">
												<a href="{{search.get_item_url}}" class="link-product-add-cart">Quick View</a>
											</div>
										</div>
										<span class="product-new-top">{{search.labels}}</span>
									</div>
									<div class="item-info-product">
										<h4>
											<a href="{{search.get_item_url}}">{{search.title}} </a>
										</h4>
										<div class="info-product-price">
											<div class="grid_meta">
												<div class="product_price">
													<div class="grid-price ">
														<span class="money ">Rs.{{search.price}}</span>
													</div>
												</div>
												<ul class="stars">
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
													<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
												</ul>
											</div>
											<div class="shoe single-item hvr-outline-out">
												<form action="{% url 'home:add_to_cart' %}" method="POST">
													{% csrf_token %}
													<input type="hidden" name="slug" value="{{search.slug}}">
													<input type="hidden" name="title" value="{{search.title}}">
													<input type="hidden" name="image" value="{{search.image.url}}">
													<input type="hidden" name="description" value="{{search.description}}">
													<input type="hidden" name="quantity" value="{{search.quantity}}">
													{% if item.discounted_price > 0 %}
													<input type="hidden" name="price" value="{{search.discounted_price}}">
													{% else %}
													<input type="hidden" name="price" value="{{search.price}}">
													{% endif %}
													<button type="submit" class="shoe-cart pshoe-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
<!--													<a href="#" data-toggle="modal" data-target="#myModal1"></a>-->
												</form>

											</div>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						<div class="clearfix"></div>

					</div>

					<!-- //product-sec1 -->
					{% for banner in banners %}
					<div class="col-md-6 shop_left shp">
						<img src="{{banner.image.url}}" alt="">
						<h6>{{banner.discount}}</h6>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //top products -->
	<div class="mid_slider_w3lsagile">
		<div class="col-md-3 mid_slider_text">
			<h5>Some More Shoes</h5>
		</div>
		<div class="col-md-9 mid_slider_info">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					{% for mover in movers %}
					<li data-target="#myCarousel" data-slide-to="{{mover.rank}}" class="{{mover.status}}"></li>
					{% endfor %}

				</ol>
				<div class="carousel-inner" role="listbox">
					{% for mover in movers %}
					<div class="item {{mover.status}}">
						<div class="row">
							{% for mover in movers %}
							<div class="col-md-3 col-sm-3 col-xs-3 slidering">
								<div class="thumbnail"><img src="{{mover.image.url}}" alt="Image" style="max-width:100%;"></div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}

				</div>
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
				<!-- The Modal -->

			</div>
		</div>

		<div class="clearfix"> </div>
	</div>
{% endblock %}